/* main page */
.sportspoll{
  background: $grad_color1; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, $grad_color1 0%, $grad_color2 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, $grad_color1 0%,$grad_color2 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, $grad_color1 0%,$grad_color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$grad_color1', endColorstr='$grad_color2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  min-height: 100vh;
}
.container{
  overflow: hidden;
  max-width: 90%;
  margin: auto;
}
.textbox{
  color: $text_color;
}
