
/* Default Common Classnames */
.left{
  float: left;
}
.right{
  float: right;
}
.parentfloat{
  overflow: hidden;
}
.center-text{
  text-align: center;
}
.left-text{
  text-align: left;
}
.right-text{
  text-align: right;
}
.m-t-10{
  margin-top: 10px;
}
.m-t-20{
  margin-top: 20px;
}
.m-t-30{
  margin-top: 30px;
}
.m-t-40{
  margin-top: 40px;
}
.m-t-50{
  margin-top: 50px;
}
.m-b-10{
  margin-bottom: 10px;
}
.m-b-20{
  margin-bottom: 20px;
}
.m-b-30{
  margin-bottom: 30px;
}
.m-b-40{
  margin-bottom: 40px;
}
.m-b-50{
  margin-bottom: 50px;
}
h1,h2,h3,h4,h5,h6,div,span,a,p,body{
  font-family: sans-serif;
}
h2{
  font-size: 35px;
  line-height: 45px;
  font-weight: bold;
}
h3{
  font-size: 25px;
}
h4{
  font-size: 20px;
}
.link{
  color: $link_text_color;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: all .4s; /* Safari */
  transition: all .4s;
  padding: 10px;
  border-radius: 5px;
  display: block;
  &:hover{
    background: $link_background_color;
  }
}
.alert{
  color:$alert_text;
}

.button {
  width: 30%;
  margin: 6.5px;
  color: $text_color;
  padding: 20px 0;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  outline: 2px solid $button_border_color;
  font-size: 17px;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-weight: bold;
  background: $button_color;
  display: inline-block;
    &:hover{
      background: $button_hover_color;
    }
    &.center-button{
      background: $center_button;
      color: $dark_text_color;
      border: 1px solid;
      &:hover{
        background: $center_hover_button;
      }
    }
  }
  .cardButtonBox{
    overflow: hidden;
  }
  .imgicon img{
    max-width: 25px;
    margin: 0 10px;
  }
.click{
  cursor: pointer;
}
.timer{
  max-width: 50px;
  position: absolute;
  top: 10px;
}
