.card{
  margin: .5rem 0 1rem;
  background-color: $card_color;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  padding: 20px 10px;
  margin: 30px auto;
  width: 33%;
  position: relative;
  -webkit-transition: all .4s; /* Safari */
  transition: all .4s;
  &:hover{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.16), 0 4px 15px 0 rgba(0,0,0,.12);
  }
}
.sportname {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}

.groupname{
  font-size: 25px;
  margin: 10px;
  font-weight: bold;
}
.countryname {
  margin-top: 15px;
  font-size: 20px;
}
.teams {
  overflow: hidden;
  width: 100%;
}
.teamdp, .vs{
  width: 33%;
  float: left;
}
.vs{
  line-height: 91px;
  font-size: 25px;
  font-weight: bold;
}
.profile{
  max-width: 50px;
  max-height: 50px;
  display: inline-block;
  border-radius: 50%;
  background: $profile_color;
  text-align: center;
  margin: auto;
  line-height: 45px;
  font-size: 30px;
  padding: 20px;
  width: 100px;
  height: 100px;
  color: $text_color;
}
.lastcard{
    padding: 20px;
  .button{
    margin: auto;
    float: none;
  }
}
