// responsive
@media screen and (max-width: 1024px) {
  .card{
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .card{
    width: 80%;
  }
}
@media screen and (max-width: 426px) {
  .groupname {
    font-size: 20px;
  }
  .card {
      width: 100%;
  }
  .button {
    width: 90%;
  }
  .click{
    font-size: 25px;
  }
  .link{
    margin-top: -5px;
  }
  .vs {
    width: 28%;
  }
}
