/*Colors*/
$header_color: #915E43;
$header_text_color: #fff;

$link_text_color: #fff;
$link_background_color: rgba(0,0,0,0.2);

$text_color: #fff;
$dark_text_color: #000;

$grad_color1: #82c67d;
$grad_color2: #328a29;

$card_color: #fff;
$card_text_color: #000;

$button_color: #008CBA;
$button_border_color: #36739f;
$button_hover_color: #079aca;

$center_button: #e7e7e7;
$center_hover_button: #cfcece;

$profile_color: #dc6a6a;

$alert_text: #dd1a1a;
